name: build

env:
  XCODE_VERSION: 'Xcode_13.2.1'

on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:

jobs:

  build_verifier:
    runs-on: macos-11

    steps:
    - uses: actions/checkout@v2

    - name: Switch to Xcode ${{ env.XCODE_VERSION }}
      run: sudo xcode-select --switch /Applications/${{ env.XCODE_VERSION }}.app
    
    # Compile "Release-Verifier-Prod" for iOS Simulator (no signing)
    - name: Compile Release-Verifier-Prod
      run: fastlane gym --scheme "Release-Verifier-Prod" --skip_package_ipa true --disable_package_automatic_updates true --destination "generic/platform=iOS Simulator"

  build_wallet:
    runs-on: macos-11

    steps:
    - uses: actions/checkout@v2

    - name: Switch to Xcode ${{ env.XCODE_VERSION }}
      run: sudo xcode-select --switch /Applications/${{ env.XCODE_VERSION }}.app

    # Compile "Release-Wallet-Prod" for iOS Simulator (no signing)
    - name: Compile Release-Wallet-Prod
      run: fastlane gym --scheme "Release-Wallet-Prod" --skip_package_ipa true --disable_package_automatic_updates true --destination "generic/platform=iOS Simulator"


  run_tests:
    runs-on: macos-11

    steps:
    - uses: actions/checkout@v2

    - name: Switch to Xcode ${{ env.XCODE_VERSION }}
      run: sudo xcode-select --switch /Applications/${{ env.XCODE_VERSION }}.app

    - name: Run Tests
      run: fastlane scan --scheme "Debug-Wallet" --device "iPhone 11 Pro"

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action/composite@bffeee8009970dbb7444de4027c06333c97a8a54
      if: always()
      with:
        files: test_output/*.junit