name: Codequality

env:
  XCODE_VERSION: 'Xcode_13.3.1'

on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:

jobs:
  codequality:
    name: Codequality
    runs-on: macos-12

    steps:
    - uses: actions/checkout@v2

    - name: Switch to Xcode ${{ env.XCODE_VERSION }}
      run: sudo xcode-select --switch /Applications/${{ env.XCODE_VERSION }}.app

    - name: swiftformat
      run: swiftformat . --lint
